@use "../../foundation/" as *;
#menu-nav-menu {
    color: $textColor_Gray;
    margin: 0 auto 2.39vw 2.4vw;
    @include media(iPhone){
        margin: 0 auto auto 12.5vw;
    }
    @include media(PC){
        width: $navMenuWidth_PC;
        max-height: 100%;
    }
    @include media(iPad) {
        width: $navMenuWidth_iPad;
        min-height: 100%;
    }
    @include media(iPhone){
        width: $navMenuW_iPhone;
        min-height: 100%;
    }
    & > .menu-item {
        margin: 0 auto 3.1vw 0;
        font-size: 1.25vw;
        @include media(iPad){
            font-size: 2.9vw;
        }
        @include media(iPhone){
            font-size: 6.4vw;
        }
        & > a {
            font-weight: $textFont_WeightBold;
            text-decoration: none;
            margin: 0 auto 2.083vw 0;
            @include media(iPhone){
                margin: 9.1vw auto 10.6vw 0;
            }
        }
        & > .sub-menu > .menu-item > a {
            text-decoration: none;
            text-indent: clamp(16px, 0.83vw, 0.83vw);
            margin: 0 auto 1.6vw clamp(16px, 0.83vw, 0.83vw);
            font-size: 1.04vw;
            @include media(iPad){
                font-size: 2.4vw;
                margin: 0 auto 1.6vw clamp(16px, 2.4vw, 2.4vw);
            }
            @include media(iPhone){
                margin: 5.3vw auto 0 clamp(16px, 5.3vw, 5.3vw);
                font-size: 5.3vw;
            }
        }
    }
}

#menu-foot_navi {
    display: flex;
    flex-flow: row nowrap;
    & > .menu-item {
    display: inline;
    font-size: 1.04vw;
    color: $textColor_White;
        @include media(iPhone){
            font-size: 5.3vw;
        }
    &::after {
        content:"|";
        margin: 0 0.7em;
        display: inline;
    }
    &:last-of-type::after {
        display: none;
    }
        &> a {
            color: $textColor_White;
            text-decoration: none;
        }
    }
}
.wp-mainlist__Text--text{
    display: inline-block;
    width: 26.5vw;
    min-height: 2.9vw;
    & > p {
        font-size: clamp(16px, 0.83vw, 0.83vw);
        color: $textColor_White;
    }
}
.wp-section__SingleText {
    margin: 3.125vw 5.2vw auto 5.2vw;
    @include media(iPad){
        margin: 7.194vw 7.194vw auto 7.194vw;
    }
    @include media(iPhone){
        margin: 8vw 5.333vw 49.07vw 5.333vw;
    }
    & > div {
        & > * {
            margin: 0 0 3.125vw 0;
            color: $textColor_Brown;
            @include media(iPad){
                margin: 0 0 7.194vw 0;
            }
            @include media(iPhone){
                margin: 0 0 8vw 0;
            }
        }
        & > h1 {
            font-size: 3.125vw;
            @include media(iPad){
                font-size: 7.1942vw;
            }
            @include media(iPhone){
                font-size: 9.6vw;
            }
        }
        & > h2 {
            font-size: 1.875vw;
            @include media(iPad){
                font-size: 4.32vw;
            }
            @include media(iPhone){
                font-size: 7.5vw;
            }
        }
        & > h3 {
            font-size: 1.458vw;
            @include media(iPad){
                font-size: 3.36vw;
            }
            @include media(iPhone){
                font-size: 6.4vw;
            }
        }
        & > h4 {
            font-size: 1.042vw;
            @include media(iPad){
                font-size: 2.4vw;
            }
            @include media(iPhone){
                font-size: 5.333vw;
            }
        }
        & > h5 {
            font-size: 1.042vw;
            @include media(iPad){
                font-size: 2.4vw;
            }
            @include media(iPhone){
                font-size: 5.333vw;
            }
        }
        & > h6 {
            font-size: 1.042vw;
            @include media(iPad){
                font-size: 2.4vw;
            }
            @include media(iPhone){
                font-size: 5.333vw;
            }
        }
        & > p {
            font-size: clamp(0.833vw, 0.833vw, 14px);
            @include media(iPad){
                font-size:  clamp(1.92vw, 1.92vw, 16px);
            }
            @include media(iPhone){
                font-size: clamp(4.26vw, 4.26vw, 16px);
            }
        }
        & > b {
            font-weight: $textFont_WeightBold;
            font-size: clamp(0.833vw, 0.833vw, 14px);
            @include media(iPad){
                font-size:  clamp(1.92vw, 1.92vw, 16px);
            }
            @include media(iPhone){
                font-size: clamp(4.26vw, 4.26vw, 16px);
            }
        }
        & > blockquote {
            padding: 3.125vw;
            box-sizing: border-box;
            background-color: $bgColor_Quote;
            font-size: clamp(0.833vw, 0.833vw, 14px);
            @include media(iPad){
                padding: 7.194vw;
                font-size:  clamp(1.92vw, 1.92vw, 16px);
            }
            @include media(iPhone){
                font-size: clamp(4.26vw, 4.26vw, 16px);
            }
            & > p {
                // margin: 2.604vw 0 0 0;
                font-size: clamp(0.833vw, 0.833vw, 14px);
                @include media(iPad){
                    // margin: 6vw 0 0 0;
                    font-size:  clamp(1.92vw, 1.92vw, 16px);
                }
                @include media(iPhone){
                    font-size: clamp(4.26vw, 4.26vw, 16px);
                }
            }
            & > a {
                color: $textColor_Blue;
                text-decoration: underline;
            }
        }
        & > .wp-block-image.size-full {
            display: flex;
            align-items: flex-end;
            width: 100%;
            height: auto;
            aspect-ratio: 1353 / 500;
            overflow: hidden;
        }
        & > .wp-block-media-text {
            & > .wp-block-media-text__media {
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                width: 30.2vw;
                height: auto;
                @include media(iPad){
                    width: 36.7vw;
                }
                @include media(iPhone){
                    width: 38.4vw;
                }
            }
            & > .wp-block-media-text__content {
                width: 38.17vw;
                height: auto;
                @include media(iPad){
                    width: 46.4vw;
                }
                @include media(iPhone){
                    width: 48.8vw;
                }
            }
        }
        & > figure {
            display: flex;
            margin: 0 auto 3.125vw auto;
            width: 30.2vw;
            height: auto;
            @include media(iPad){
                width: 69.66vw;
            }
            @include media(iPhone){
                width: 71.2vw;
            }
        }
        & > .wp-block-gallery {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            & > figure {
                width: 22.8125vw;
                height: auto;
                margin: 0 0 1.04vw 0;
                @include media(iPad){
                    width: 41.84vw;
                    margin: 0 0 2.398vw 0;
                }
                @include media(iPhone){
                    width: 89.33vw;
                    margin: 0 0 5.33vw 0;
                }
            }
        }
        & > ol {
            margin: 0 0 1.04vw 0;
            font-size: clamp(0.833vw, 0.833vw, 14px);
            & > li {
                display: list-item;
                list-style: decimal;
                text-indent: 0.8vw;
                margin: 0 0 0 4.8vw;
            }
            @include media(iPad){
                font-size:  clamp(1.92vw, 1.92vw, 16px);
            }
            @include media(iPhone){
                margin: 0 0 5.33vw 0;
                font-size: clamp(4.26vw, 4.26vw, 16px);
            }
            & > li > ol {
                // margin: 1.04vw 0 0 0;
                text-indent: 1.66vw;
                & > li {
                    display: list-item;
                    list-style: decimal;
                    margin: 0 0 0 4.8vw;
                    text-indent: 0.8vw;
                    @include media(iPhone){
                        margin: 5.33vw 0 0 0;
                        text-indent: 4.8vw;
                    }
                }    
            }
            & > li:last-of-type {
                margin: 0 0 3.125vw 4.8vw;
                @include media(iPad){
                    margin: 0 0 7.194vw 0;
                }
                @include media(iPhone){
                    margin: 0 0 8vw 0;
                }
            }
        }
        & > ul {
            // margin: 0 0 1.04vw 0;
            font-size: clamp(0.833vw, 0.833vw, 14px);
            @include media(iPad){
                font-size:  clamp(1.92vw, 1.92vw, 16px);
            }
            @include media(iPhone){
                margin: 0 0 5.33vw 0;
                font-size: clamp(4.26vw, 4.26vw, 16px);
            }
            & > li > ul {
                // margin: 1.04vw 0 0 0;
                text-indent: 1.66vw;
                & > li {
                    @include media(iPhone){
                        margin: 5.33vw 0 0 0;
                        text-indent: 4.8vw;
                    }
                }
            }
            & > li:last-of-type {
                margin: 0 0 3.125vw 0;
                @include media(iPad){
                    margin: 0 0 7.194vw 0;
                }
                @include media(iPhone){
                    margin: 0 0 8vw 0;
                }
            }
        }
    }
    & > code {
        font-size: clamp(0.833vw, 0.833vw, 14px);
        @include media(iPad){
            font-size:  clamp(1.92vw, 1.92vw, 16px);
        }
        @include media(iPhone){
            font-size: clamp(4.26vw, 4.26vw, 16px);
        }
        margin: 0;
        & > pre {
            display: flex;
            padding: 0 2.6vw;
            background-color: $bgColor_Quote;
            @include media(iPhone){
                padding: calc(13.33vw - 1em) 13.33vw;
            }
        }
    }
    & table {
        background-color: $textColor_White;
        border-collapse: collapse;
        border: 1px solid $textColor_Gray;
        width: 100%;
        font-size: clamp(0.833vw, 0.833vw, 14px);
        @include media(iPad){
            font-size:  clamp(1.92vw, 1.92vw, 16px);
        }
        @include media(iPhone){
            font-size: clamp(4.26vw, 4.26vw, 16px);
        }
        & tr {
            border: 1px solid $textColor_Gray;
            height: 4.01vw;
            line-height: 4.01vw;
            @include media(iPad){
                height: 9.233vw;
            }
            @include media(iPhone){
                height: 20.53vw;
            }
            & th {
                border: 1px solid $textColor_Gray;
            }
            & td {
                border: 1px solid $textColor_Gray;
                padding: 0 0 0 1.5625vw;
                @include media(iPad){
                    padding: 0 0 0 3.597vw;
                }
                &:first-of-type {
                    width: 22.3vw;
                    @include media(iPad){
                        width: 25.78vw;
                    }
                    @include media(iPhone){
                        width: 36vw;
                    }
                }
            }
        }
    }
    & button {
        background: linear-gradient($linearGradientS, $linearGradientE);
        border: 1px solid $textColor_Gray;
        border-radius: 0.833vw;
        font-size: clamp(0.833vw, 0.833vw, 14px);
        width: 22.4vw;
        height: 5.46875vw;
        @include media(iPad){
            border-radius: 2.4vw;
            font-size:  clamp(1.92vw, 1.92vw, 16px);
            width: 51.44vw;
            height: 12.47vw;
        }
        @include media(iPhone){
            border-radius: 4.27vw;
            font-size: clamp(4.26vw, 4.26vw, 16px);
            width: 100%;
            height: 21.6vw;
        }
    }
}
